.toast {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translateX(100%); // Commence en dehors de l'écran à droite

  &.show {
    opacity: 1;
    transform: translateX(0); // Revient à sa position normale
  }
}
